$colors: (
  text1-colour: #FFFFFF,
  text2-colour: #FFFFFFA6,
  para-colour: #111111,
  black-colour: #000,
  white-colour: white,
  btn-colour: #fff,
  footer-colour:#161F1E

);

@function colour($colour-name){
    @return map-get($colors, $colour-name )
}