<div class="dlc-container" style="background-image: url(../../../assets/about-dlc/main.jpg);"></div>
<app-header></app-header>
<div class="text1">
    <h3 style="font-weight: 100">Creating your <br>perfect world</h3>
</div>
<div class="text2">
    <h5 style="font-weight: 50;">Scroll to explore</h5>
</div>
<div class="dlc-para">
    <div class="l1">Founded in 1994 by Mike Meldman, Discovery Land Company is a</div>
    <div class="l2">US-based real estate developer and operator of private residential</div>
    <div class="l3">club communities and resorts with a world-renowned portfolio of </div>
    <div class="l4">domestic and international properties.</div>
</div> -->
<div class="parent-child-container">
    <div class="parent-child-heading">Our Mission</div>
    <br>
    <br>
    <div class="information1">
        <div>We don’t build buildings, but rather we build settings</div>
        <div>where families can create intergenerational memories</div>
        <div>and enrich their lives in exquisite and untouched</div>
        <div>sanctuaries. Everything we do is driven by the</div>
        <div>fundamental desire to create spaces where families can</div>
        <div>be together.</div>
    </div>
    <br>
    <div class="information2">
        <div>These settings offer a relaxed and comfortable sense of</div>
        <div>community featuring outstanding clubhouses,</div>
        <div>incredible residential offerings, premier golf courses,</div>
        <div>welcoming staff, world-class culinary offerings and our </div>
        <div>custom Outdoor Pursuits program; all offering the </div>
        <div>highest of service standards to enrich your experience.</div>
    </div>
    <img src="../../../assets/about-dlc/main2.jpg" alt=""
        style=" width: 550px; height: 700px; margin-left: 700px; margin-top: -550px;">
    <img src="../../../assets/about-dlc/main3.jpg" alt="" style="width: 1240px; height: 700px;
    margin-left: 50px; margin-top: 130px;">
</div>
<div class="dlc-title">The Discovery Difference </div>
<div class="dlc-slider-container">
    <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="0.1" [animationSpeed]="5"
        [imageSize]="{width: 390, height: 480 }" [showArrow]="false" slideImage="1"></ng-image-slider>
</div>

<img src="../../../assets/about-dlc/main4.jpg" alt=""
    style="width: 1350px; height: 700px; object-fit:cover; margin-top: 60px;">

<div class="disc-design-container">
    <div class="disc-design-info">
        <div class="disc-heading">
            Discovery Design
        </div>
        <br>
        <br>
        <div class="disc-paragraph">
            <div>See the beauty in every corner of your new, bespoke</div>
            <div>home away from home. From fabrics and furniture</div>
            <div>pieces to floorplans, our professional designers will</div>
            <div>collaborate closely with you to create an interior living</div>
            <div>space which reflects your style and unique tastes as</div>
            <div>well as perfectly complementing your lifestyle.</div>
        </div>
    </div>
    <img src="../../../assets/about-dlc/main5.jpg" alt=""
        style="width: 450px; height: 600px; margin-top: -350px; margin-left: 140px;">
    <img src="../../../assets/about-dlc/main6.jpg" alt=""
        style="width:500px ; height: 300px; margin-left: 700px; margin-top: -145px;">
</div>
<img src="../../../assets/about-dlc/main7.jpg" alt="" style="width: 1350px; height: 800px; margin-top: 80px; ">


<div class="dlc-section-container">
    <div class="dlc-section-item1">
        <p class="dlc-heading">
            Discovery Builder
        </p>
        <div class="dlc-content">
            <div>Every Discovery property is wonderfully in-tune with its</div><br>
            <div>natural surroundings - a harmonious blend of the</div><br>
            <div>architecturally impressive with the environmentally</div><br>
            <div> sensitive. And your every expectation will be met, with</div><br>
            <div>our meticulous eye for detail matching outstanding</div> <br>
            <div>levels of craftsmanship and master building.</div><br>
        </div>
    </div>
    <div class="dlc-sec-img1">
        <img src="../../../assets/about-dlc/main8.jpg" alt="404" width="450px" height="600px">

    </div>
</div>

<div class="dlc-sec-img2">
    <img src="../../../assets/about-dlc/main9.jpg" alt="404" width="375.3px" height="243.94px">
</div>
<div class="dlc-our-world">
    <img src="../../../assets/about-dlc/main10.jpg" alt="" style="height: 70vh; width: 100vw; margin-top: 110px;">
    <div class="dlc-text">
        Our Worlds
    </div>
    <button class="dlc-btn">Explore</button>
</div>
<app-footer></app-footer>