<div class="header-container">
    <div class="nav-bar">
        <div class="headerlogo">
            <img src="./assets/header/logo-discoveryland-title.png" alt="" width="200" height="50">
        </div>

        <nav class="nav-class">
            <ul class="nav-items" id="header">
                <li class="nav-link"><a href="#">About DLC</a></li>
                <li class="nav-link"><a href="#">Our Worlds</a></li>
                <li class="nav-link"><a href="#">Experiences</a></li>
                <li class="nav-link"><a href="#">Gallery</a></li>
                <li class="nav-link"><a href="#">Press</a></li>
            </ul>
        </nav>
        <div><mat-icon style="color: white; height: 25px; width: 25px ; margin: 29px;">menu</mat-icon></div>
    </div>
        
</div>