<div class="header-container">
    <div class="nav-bar">
        <div class="headerlogo">
            <img src="./assets/header/logo-discoveryland-title.png" alt="" width="153.02vw" height="36.27vh">
        </div>
        <nav class="nav-class">
            <ul class="nav-items" id="header">
                <li class="nav-link"><a href="http://localhost:4200/about-dlc">About DLC</a></li>
                <li class="nav-link"><a href="http://localhost:4200/our-worlds">Our Worlds</a></li>
                <li class="nav-link"><a href="http://localhost:4200/experiences">Experiences</a></li>
                <li class="nav-link"><a href="http://localhost:4200/gallery">Gallery</a></li>
                <li class="nav-link"><a href="http://localhost:4200/press">Press</a></li>
            </ul>
        </nav>
        <div class="menu-icon">
            <mat-icon (click)="clickMenu()">menu</mat-icon>
        </div>
        <div *ngIf="display">
            <div class="overlay-content">
                <div class="headerlogo1">
                    <img src="./assets/header/logo-discoveryland-title.png" alt="" width="153.02vw" height="36.27vh">
                </div>
                <div class="close-btn">
                    <button (click)="closeMenu()" style="color: white; background-color: black; border: none;">
                        <h1>X</h1>
                    </button>
                </div>
                <div class="information">
                    <div class="data">Magazine</div>
                    <div class="data">Company</div>
                    <div class="data">Foundation</div>
                    <div class="data">Careers</div>
                    <div class="data">Contact</div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div>
        <mat-progress-bar  class="line-animate" mode="indeterminate"></mat-progress-bar>
    </div> -->
</div>