
body,html {
    height: 100vh;
    margin: 0;
}

.header-container{
    height: 100vh;
    width: 100vw;
}

.nav-bar{
    position: relative;
    bottom:95%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
    
.headerlogo{     
    width: 13%;
    height: 13%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
    padding: 1px 0px;
    color: #000000;
    font: 15.9421px messina-sans;
    margin-left: 70px;
}

.nav-items {    
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    margin-left: 80px;
}

.nav-link {
    color: #fff;
    display: flex;
    align-items: flex-end;
    margin: 10px;   
    flex-wrap: wrap;

}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 44px;
 }

 .line-animate{
     color:white;
     height: 1px;
     width: 60px;
     margin-top: 10px;
     margin-left: 400px;
 }

