<div class="header-container">
    <video autoplay muted loop class="background-video">
        <source
            src="https://player.vimeo.com/external/504987430.hd.mp4?s=5887082673ab2d83fe3c560bb10ba8b39d36d865&amp;profile_id=175"
            type="video/mp4">
    </video>
    <div class="text">
        <h3>Discover <br>Your World</h3>
    </div>
</div>
<app-header></app-header>
<div class="section-container">
    <div class="section-item1">
        <p class="heading">
            Welcome to<br> our World
        </p>
        <div class="content">
            <div>Discover the unique atmosphere of our private</div><br>
            <div>residential club communities. Once experienced. Never</div><br>
            <div>forgotten. This is classic, comfortable, modern living in</div><br>
            <div>nature’s most spectacular settings worldwide.</div><br>
            <div>Reassuringly exclusive. Generously welcoming. Find</div> <br>
            <div>your unique world – a place where families love to be</div><br>
            <div>creating unforgettable moments, together.</div>
        </div>
    </div>
    <div class="sec-img1">
        <img src="../../../assets/Home_1.jpg" alt="404" width="412px" height="580px" >

    </div>
</div>

<div class="sec-img2">
    <img src="../../../assets/Home_2.jpg" alt="404" width="375.3px" height="243.94px">
</div>