@import "variables";
@import "mixin";

body,html {
    height: 100vh;
    margin: 0;
}

.header-container{
    height: 100vh;
    width: 100vw;

    .background-video {
      width: 101%;
      height: 100%;
      object-fit: cover;
      margin: -1%;
    }

    .text {
      width: 70%;
      margin-left: 20%;
      color: colour(text1-colour);
      font-size: 75px;
      position: relative;
      bottom: 70%;
      font: 70.016px gt-sectra;
      font-family: $font-type;
      }

      .text2{
        width: 70%;
        margin-left: 14%;
        color: colour(text2-colour);
        font-size: 75px;
        position: relative;
        bottom: 66%;
        font: 19px gt-sectra;
        font-family:  $font-type;
        font-weight: 50;
    }

}


.section-container {
    padding-top: 200px;
    padding-left: 150px;
    padding-right: 220px;
    display: flex;
    margin-top: -788px;
    background-image: url(../../../assets/Home_bg.jpg) ;
    @include bg-img-property;
    background-position: center;
    justify-content: space-between;
    opacity: 0.7;
    margin-top: -703px;

    .section-container .sec-img1 p {
      color: colour(black-colour);
      padding-left: 100px;
      padding-right: 350px;
      padding-top: 100px;
    }
    
    .section-container .sec-img1 .heading {
      opacity: 80%;
      font-size: 2em;
      line-height: 1.2;
      font-size: xx-large;
    }
  
    .heading{
      font-size: xxx-large;
      margin-top: -60px;
    }

    .section-container .sec-img1 .content {
      font-size: 2em;
      line-height: 1.5;
      opacity: 60%;
      padding-top: 50px;
      margin-right: -320px;
    }

  }
  
  
  .sec-img2 img {
    position: relative;
    float: left;
    margin-top: -170px;
    margin-left: 140px;
    width: 450px;
  }
  
  .lands-discovery-container {
    height: 150vh;
    width: 100vw;
    padding: 10% 0;
    padding-bottom: 0%;
    background-color:colour(bg-colour);
    @include flex-property(space-between);
    

    .lands-discovery-info {
      @include flex-property(space-around);
      padding-left: 10%;
      height: 30%;
    }

    .lands-discovery-heading {
      font-size: 3em;
      font-family: ui-serif;
      color:  colour(black-colour);
    }
  
    .lands-discovery-para {
      color: colour(para-colour);
      font-size: 15px;
      line-height: 1.9;
    }
  
    .lands-discovery-links {
      display: flex;
    }
  
    .link {
       padding-right: 4%;
       font-size: 1.2em;
       font-weight: 400;
    }

}


.earth-container{
    height: 100%;
    width: 100%;
    background-color: colour(bg-colour);
    margin-top: -755px;

  .earth-background{
    height: 100%;
    width: 67%;
    margin-top: 65px;
  }   
  
  .img-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    color: colour(white-colour);
    margin-top: -71px;
   
  }
  
  .img-content {
    width: 33.33%;
    height: 100%;
    @include flex-property(center);
    align-items: center;
  }
  
  #img-experience {
    background-image: url(../../../assets/cards/golf.jpg);
    background-size: cover;
  }
  
  #img-lifestyle {
    background-image: url(../../../assets/cards/lifestyle.jpg);
    background-size: cover;
  }
  
  #img-wellness {
    background-image: url(../../../assets/cards/wellness.jpg);
    background-size: cover;
  }
  
  .img-txt {
    font-size: 3em;
  }

  #bg_card{
    height: 35%;
    width: 50%;
    background-color: colour(black-colour);
    position: absolute;
    right: 0;
    z-index: 20;
    padding-top: 220px;
    top: 2920px;
    left: 50%;
  }
  #card-img{
    height: 500px;
    width: 270px;
    position: absolute;
    padding-left: 1030px;
    z-index: 30;
    top: 2860px;
  }
  .arrow {
    color: colour(white-colour);
    padding:30px;
  }
  .hub-air{
    color: colour(white-colour);
    padding-left:35px;
  
  }
  
  .card-title{
    color: colour(white-colour);
    padding:35px;
    font-size: 40px;
    margin-left: -20px;
    font-family: serif;
  }
  .card-sub{
    color: colour(white-colour);
    padding-top:100px;
    padding-left: 35px;
    font-size: 20px;
    margin-left: -20px;
    font-family: serif;
    opacity: 0.6;
  }
  .material-icons{
    padding-right:25px;
    font-size: 30px;
  }
  
  .units{
    color: colour(white-colour);
    margin-top: 2px;
    word-spacing: 15px;
    margin-left: 34px;
    font-size: smaller;
  }
  
  .room-text{
    margin-left: 46px;
    margin-top: -34px;
    font-size: 15px;
    opacity: 0.5;
    word-spacing: 2px;
  }

  .button{
    margin-top: -41px;
    width: 50px;
    height: 27px;
    opacity: 0;
  }
  
}





.img-btn-container {
  height: 55px;
  width: 55px;
  border: 1px solid colour(white-colour);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 31px;

  .img-btn, .img-btn:hover {
    text-decoration: none;
    color: colour(white-colour);
    font-size: 2rem;
    margin-top: 7px;
  }

}


.slider-container{
  height: 80%;
  width: 100%;
  margin-top: 110px;
}

.title {
  opacity: 80%;
  font-size: 40px;
  padding-left: 187px;
  margin-top: 160px;
  font-weight: 1;
}

.contain1{
  width: 101%;
  height: 93vh;

  .background-video1 {
    width: 101%;
    height: 93vh;
    object-fit: cover;
    margin: -1%;
    filter: brightness(0.5);
  }
   
  .info1{
    font-size: 17px;
    line-height: 2;
    font-family: ui-serif;
    color:colour(white-colour);
    margin-top: -333px; 
    position: absolute; 
    margin-left: 130px;
}

  .head1{
  color: colour(white-colour);
  font-size: 40px;
  margin-top: -415px; 
  margin-left: 130px; 
  font-size: 40px; 
  position: absolute;
  }

  .explore-button{
    margin-top: -110px; 
    margin-left: 130px; 
    position: absolute;  
    padding: 22px 55px;
    background-color:colour(black-colour);
    color: colour(text1-colour);
    border:0px solid colour(white-colour);
    cursor: pointer;
    opacity: 40%;
  }
  
  .close-btn{
    color: colour(white-colour);
    position: absolute;
    margin-top: -580px;
    margin-left: 1250px;
    background-color: colour(black-colour);
  }

}




