<div class="section-container">
    <div class="card1">
        <img class="card-img-sec1" src="../../../assets/our-worlds/one.jpg" alt="NORTH_SHORE">
        <div class="card-info">
            <div class="card-heading">North Shore Preserve</div>
            <div class="card-desc">Kauai,Hawaii</div>
        </div>
    </div>
    <div class="card2">
        <img class="card-img-sec1" src="../../../assets/our-worlds/two.jpg" alt="JAMES-ISLAND">
        <div class="card-info">
            <div class="card-heading">JAMES ISLAND</div>
            <div class="card-desc">Southern Gulf Islands, British Columbia,<br> Canada</div>
        </div>
    </div>
    <div class="card3">
        <img class="card-img-sec1" src="../../../assets/our-worlds/three.jpg" alt="COSTATERRA">
        <div class="card-info">
            <div class="card-heading">COSTATERRA</div>
            <div class="card-desc">Comporta, Portugal</div>
        </div>
    </div>
    <div class="card4">
        <img class="card-img-sec1" src="../../../assets/our-worlds/four.jpg" alt="Barbuda">
        <div class="card-info">
            <div class="card-heading">BARBUDA OCEAN CLUB</div>
            <div class="card-desc">Barbuda, West Indies</div>
        </div>
    </div>
    <div class="card1">
        <img class="card-img-sec2" src="../../../assets/our-worlds/five.jpg" alt="Driftwood">
        <div class="card-info">
            <div class="card-heading">DRIFTWOOD</div>
            <div class="card-desc">Austin, Texas</div>
        </div>
    </div>
    <div class="card2">
        <img class="card-img-sec2" src="../../../assets/our-worlds/seven.jpg" alt="Troubadour_carousel">
        <div class="card-info">
            <div class="card-heading">TROUBADOUR</div>
            <div class="card-desc">Nashvile, Tennessee</div>
        </div>
    </div>
    <div class="card3">
        <img class="card-img-sec2" src="../../../assets/our-worlds/eight.jpg" alt="playa">
        <div class="card-info">
            <div class="card-heading">PLAYA GRANDE</div>
            <div class="card-desc">Rio San Juan, Dominican Republic</div>
        </div>
    </div>
    <div class="card4">
        <img class="card-img-sec2" src="../../../assets/our-worlds/nine.jpg" alt="chileno_landscape">
        <div class="card-info">
            <div class="card-heading">CHILENO BAY</div>
            <div class="card-desc">Cabo San Lucas, Mexico</div>
        </div>
    </div>
    <div class="card1">
        <img class="card-img-sec3" src="../../../assets/our-worlds/ten.jpg" alt="Summit">
        <div class="card-info">
            <div class="card-heading">THE SUMMIT</div>
            <div class="card-desc">Las Vegas, Nevada</div>
        </div>
    </div>
    <div class="card2">
        <img class="card-img-sec3" src="../../../assets/our-worlds/eleven.jpg" alt="dunedeck">
        <div class="card-info">
            <div class="card-heading">DUNE DECK</div>
            <div class="card-desc">Westhampton Beach, NY</div>
        </div>
    </div>
    <div class="card3">
        <img class="card-img-sec3" src="../../../assets/our-worlds/twelve.jpg" alt="Silo_Andy">
        <div class="card-info">
            <div class="card-heading">SILO RIDGE</div>
            <div class="card-desc">Amenia, New York</div>
        </div>
    </div>
    <div class="card4">
        <img class="card-img-sec3" src="../../../assets/our-worlds/thirteen.jpg" alt="Makena">
        <div class="card-info">
            <div class="card-heading">MAKENA</div>
            <div class="card-desc">Maui, Hawaii</div>
        </div>
    </div>
    <div class="card1">
        <img class="card-img-sec4" src="../../../assets/our-worlds/fourteen.jpg" alt="Yellowstone">
        <div class="card-info">
            <div class="card-heading">YELLOWSTONE CLUB</div>
            <div class="card-desc">Big Sky, Montana</div>
        </div>
    </div>
    <div class="card2">
        <img class="card-img-sec4" src="../../../assets/our-worlds/fifteen.jpg" alt="GOZZER_HERO">
        <div class="card-info">
            <div class="card-heading">GOZZER RANCH</div>
            <div class="card-desc">Coeur d’Alene, Idaho</div>
        </div>
    </div>
    <div class="card3">
        <img class="card-img-sec4" src="../../../assets/our-worlds/sixteen.jpg" alt="">
        <div class="card-info">
            <div class="card-heading">EL DORADO</div>
            <div class="card-desc">Los Cabos, Mexico</div>
        </div>
    </div>
    <div class="card4">
        <img class="card-img-sec4" src="../../../assets/our-worlds/seventeen.jpg" alt="Maddison">
        <div class="card-info">
            <div class="card-heading">MADISON</div>
            <div class="card-desc">La Quinta, California</div>
        </div>
    </div>
    <div class="card1">
        <img class="card-img-sec5" src="../../../assets/our-worlds/eighteen.jpg" alt="Bakers">
        <div class="card-info">
            <div class="card-heading">BAKER'S BAY</div>
            <div class="card-desc">Great Guana Cay, Bahamas</div>
        </div>
    </div>
    <div class="card2">
        <img class="card-img-sec5" src="../../../assets/our-worlds/nineteen.jpg" alt="hidwaway">
        <div class="card-info">
            <div class="card-heading">HIDEAWAY</div>
            <div class="card-desc">La Quinta, California</div>
        </div>
    </div>
    <div class="card3">
        <img class="card-img-sec5" src="../../../assets/our-worlds/twenty.jpg" alt="mountaintop">
        <div class="card-info">
            <div class="card-heading">MOUNTAINTOP</div>
            <div class="card-desc">Cashiers, North Carolina</div>
        </div>
    </div>
    <div class="card4">
        <img class="card-img-sec5" src="../../../assets/our-worlds/twentyone.jpeg" alt="Mirabel">
        <div class="card-info">
            <div class="card-heading">MIRABEL</div>
            <div class="card-desc">Scottsdale, Arizona</div>
        </div>
    </div>
    <div class="card1">
        <img class="card-img-sec6" src="../../../assets/our-worlds/twentytwo.jpg" alt="">
        <div class="card-info">
            <div class="card-heading">Kūki'o</div>
            <div class="card-desc">Kohala, Hawaii</div>
        </div>
    </div>
    <div class="card2">
        <img class="card-img-sec6" src="../../../assets/our-worlds/twentythree.jpg" alt="vaquero">
        <div class="card-info">
            <div class="card-heading">VAQUERO</div>
            <div class="card-desc">Westlake, Texas</div>
        </div>
    </div>
    <div class="card3">
        <img class="card-img-sec6" src="../../../assets/our-worlds/twentyfour.jpg" alt="ironhouse">
        <div class="card-info">
            <div class="card-heading">IRON HORSE</div>
            <div class="card-desc">Whitefish, Montana</div>
        </div>
    </div>
    <div class="card4">
        <img class="card-img-sec6" src="../../../assets/our-worlds/twentyfive.jpg" alt="cordevalle">
        <div class="card-info">
            <div class="card-heading">CORDEVALLE</div>
            <div class="card-desc">Silicon Valley, California</div>
        </div>
    </div>
    <div class="card1">
        <img class="card-img-sec7" src="../../../assets/our-worlds/twentysix.jpg" alt="Estancia">
        <div class="card-info">
            <div class="card-heading">ESTANCIA</div>
            <div class="card-desc">Scottsdale, Arizona</div>
        </div>
    </div>
</div>

<div style="margin-top: -2090px;">
    <app-header></app-header>
</div>
<div style="margin-top: 910px">
    <app-footer></app-footer>
</div>
