<div class="footer-container">
    <div class="footer-item-logo">
        <div class="footer-items" id="footer-logo">
            <img src="./assets/footer/footerLogo.png" alt="" width="45" height="45">
        </div>

        <div class="footer-items" id="footer-links">
            <div class="links" id="column1">
                <div class="contact-info" style="opacity: 0.5; font-size: small;">GET IN TOUCH</div>
                <div class="contact-info">(480) 624-5200</div>
                <div class="contact-info">mail@discoverylandco.com</div>
            </div>
            <div class="links">
                <div class="link">About DLC</div>
                <div class="link">Our Worlds</div>
                <div class="link">Experiences</div>
                <div class="link">Gallery</div>
                <div class="link">Press</div>
            </div>
            <div class="links">
                <div class="page">Magazine</div>
                <div class="page">Careers</div>
                <div class="page">Foundation</div>
                <div class="page">Company</div>
                <div class="page">Contact</div>
                <div class="page">Privacy</div>
            </div>
        </div>
    </div>
    <div class="copyright">&copy; Discovery Land Campany. All rights reserved.</div>
</div>