<div class="exp-container">
    <video autoplay muted loop class="background-video">
        <source
            src="../../../assets/experiences/mainvideo.mp4"
            type="video/mp4">
    </video>
    <div class="text">
        Unforgettable <br>experiences
    </div>
    <div class="text1">
        Scroll to explore
    </div>
</div>
<app-header></app-header>

<div class="exp-para">
    <div class="l1">Memorable days. Exceptional nights. We believe it’s our mission</div>
    <div class="l2">to make every minute matter. So you can live your life to the</div>
    <div class="l3">fullest, with the people closest to you.</div>
<div class="exclusive-container">
    <div class="exclusive-heading">Exclusive to<br>your world</div>
    <br>
    <div class="information">
        Our worlds are designed to offer you endless<br> opportunities to share incredible once-in-a-lifetime<br> experiences and adventures every single minute of the<br> day.
        Each of our settings offers a relaxed sense of <br> community through exceptional clubhouses,<br> world-class golf courses welcoming staff and an<br> extensive Outdoor Pursuits program.Create moments<br> of joy and wonder, unforgettable memories and<br>
        cherished times, together with those who matter most.
    </div>
    <img src="../../../assets/experiences/main2.jpg" alt=""
style=" width: 550px; height: 670px; margin-left: 620px; margin-top: -540px;">
</div>

<div class="exp-sec-1">
    <img src="../../../assets/experiences/main3.jpg" alt="" style="margin-left:-440px; margin-top: 130px;width: 1100px;">
    <mat-card class="exp-card"> 
        <div class="exp-head" style="margin-top: 70px; margin-left: 40px; font-size: 40px;">Golf</div>
        <div class="exp-info">We commission the world’s most renowned course<br> architects to design spectacular golf experiences on<br> challenging yet incredibly playable 18-hole courses. Our <br> trademark comfort stations also set new standards in<br> on-course amenities.
        </div>
        <button class="exp-btn" style="margin-left: 40px;">Explore</button>
    </mat-card>
</div>

<div class="exp-sec-2">
    <img src="../../../assets/experiences/main4.jpg" alt="" style="margin-right:-440px; margin-top: 130px;width: 1100px;">
    <mat-card class="exp-card1"> 
        <div class="exp-head1" style="margin-top: 70px; margin-left: 40px; font-size: 40px;">Outdoor Pursuits</div>
        <div class="exp-info1">Our signature Outdoor Pursuits program is designed for <br> families to create memories together. Whether you’re <br> trying a new sport or taking a day trip, our team will <br> ensure you make the most of every minute with <br> activities designed to help you take advantage of<br> everything each region has to offer.
        </div>
        <button class="exp-btn" style="margin-left: 40px;">Explore</button>
    </mat-card>
</div>

<div class="exp-sec-3">
    <img src="../../../assets/experiences/main5.jpg" alt="" style="margin-left:-440px; margin-top: 130px;width: 1100px;">
    <mat-card class="exp-card"> 
        <div class="exp-head" style="margin-top: 70px; margin-left: 40px; font-size: 40px;">Wellness</div>
        <div class="exp-info">Unwind at an indulgent spa. Set challenging targets <br> with a tailor-made fitness plan. Or let our talented chefs <br> treat you to our flavorful international menus created <br> using the finest, carefully selected foods sourced locally <br> from organic farms.
        </div>
        <button class="exp-btn" style="margin-left: 40px;">Explore</button>
    </mat-card>
</div>

<div class="experience-our-world" style="margin-top: -110px;">
    <img src="../../../assets/experiences/main6.jpg" alt="" style="height: 70vh; width: 100vw; margin-top: 110px;">
    <div class="experience-text">
        Our Worlds
    </div>
    <button class="experience-btn">Explore</button>
</div>
<div class="footer-container">
    <div class="footer-item-logo">
        <div class="footer-items" id="footer-logo">
            <img src="./assets/footer/footerLogo.png" alt="" width="45" height="45">
        </div>

        <div class="footer-items" id="footer-links">
            <div class="links" id="column1">
                <div class="contact-info" style="opacity: 0.5; font-size: small;">GET IN TOUCH</div>
                <div class="contact-info">(480) 624-5200</div>
                <div class="contact-info">mail@discoverylandco.com</div>
            </div>
            <div class="links">
                <div class="link">About DLC</div>
                <div class="link">Our Worlds</div>
                <div class="link">Experiences</div>
                <div class="link">Gallery</div>
                <div class="link">Press</div>
            </div>
            <div class="links">
                <div class="page">Magazine</div>
                <div class="page">Careers</div>
                <div class="page">Foundation</div>
                <div class="page">Company</div>
                <div class="page">Contact</div>
                <div class="page">Privacy</div>
            </div>
        </div>
    </div>
    <div class="copyright">&copy; Discovery Land Campany. All rights reserved.</div>
</div>