<div class="gallery-container">
    <img src="../../../assets/gallery/main.jpg" alt="" height="65%" width="100%">
</div>
<app-header></app-header>
<div class="gallery-text">
    Gallery
</div>
<div class="gallery-section">
    <div class="image-class">
        <div class="cards">
            <div class="exp-box">
                <div><img class="image" src="../../../assets/gallery/main2.jpg" alt=""></div>
                <div class="title-button">
                    <h3 class="title">Outdoor Pursuits</h3>
                </div>
            </div>
            <div class="exp-box">
                <div><img class="image" src="../../../assets/gallery/main3.jpg" alt=""></div>
                <div class="title-button">
                    <h3 class="title">Golf </h3>
                </div>
            </div>
            <div class="exp-box">
                <div><img class="image" src="../../../assets/gallery/main4.jpeg" alt=""></div>
                <div class="title-button">
                    <h3 class="title">Lifestyle </h3>
                </div>
    
            </div>
        </div>
        <div class="cards">
            <div class="exp-box">
                <div><img class="image" src="../../../assets/gallery/main5.jpg" alt=""></div>
                <div class="title-button">
                    <h3 class="title">Landscapes </h3>
                </div>
            </div>
            <div class="exp-box">
                <div><img class="image" src="../../../assets/gallery/main6.jpg" alt=""></div>
                <div class="title-button">
                    <h3 class="title">Clubhouses</h3>
                </div>
            </div>
            <div class="exp-box">
                <div><img class="image" src="../../../assets/gallery/main7.jpg" alt="">
                </div>
                <div class="title-button">
                    <h3 class="title">Wellness</h3>
                </div>
    
            </div>
        </div>
    </div>
</div>

<div class="footer-container">
    <div class="footer-item-logo">
        <div class="footer-items" id="footer-logo">
            <img src="./assets/footer/footerLogo.png" alt="" width="45" height="45">
        </div>

        <div class="footer-items" id="footer-links">
            <div class="links" id="column1">
                <div class="contact-info" style="opacity: 0.5; font-size: small;">GET IN TOUCH</div>
                <div class="contact-info">(480) 624-5200</div>
                <div class="contact-info">mail@discoverylandco.com</div>
            </div>
            <div class="links">
                <div class="link">About DLC</div>
                <div class="link">Our Worlds</div>
                <div class="link">Experiences</div>
                <div class="link">Gallery</div>
                <div class="link">Press</div>
            </div>
            <div class="links">
                <div class="page">Magazine</div>
                <div class="page">Careers</div>
                <div class="page">Foundation</div>
                <div class="page">Company</div>
                <div class="page">Contact</div>
                <div class="page">Privacy</div>
            </div>
        </div>
    </div>
    <div class="copyright">&copy; Discovery Land Campany. All rights reserved.</div>
</div>
    
    