<div class="press-container">
    <img src="../../../assets/press/main.jpg" alt="" style="height: 100%; width: 100%; filter: brightness(70%);">
</div>
<app-header></app-header>
<div class="text1">
    News <br> and press
</div>
<div class="text2">
    scroll to explore
</div>
<div class="press-sec1">
    <div class="press-text">
        Latest News
    </div>
        <img src="../../../assets/press/news.jpg" alt="" style="height: 800px; width: 800px; margin-top: 185px; margin-left: 64px;">
        <mat-card class="white-card">
            <div class="press-info" style="margin-left: 30px; margin-top: 30px;">
                <div class="card-text1">News</div>
            <div class="card-heading">Discovery’s newest <br> property in Kaua’ North <br> Shore Preserve</div>
            <div class="card-content">Discovery Land Company is excited to announce our <br> 25th residential club community on the majestic <br> North Shore of Kaua’i. North Shore Preserve, a one-of- <br> a-kind residential community, spans one thousand <br> acres at the base of the mountains in the pastoral <br> Hanalei valley. This newly re-imagined, low-density <br> project is a secluded and peaceful island oasis with <br> limited initial homesite and hale offerings.</div>
            <button class="press-btn">Read article</button>
            </div>
        </mat-card>
</div>
<div class="press-sec2">
    <div class="press-title">Press</div>
    <div class="flex-box1">
        <div class="press-1">
            <div class="heading">On The Portuguese Coast,<br> An Appealing Spot For Seaside Homes</div>
            <div class="content">The New York Times</div>
            <button class="press-btn">Read article</button>
        </div>
        <div class="press-1">
            <div class="heading">10 Fairways to Tee Off on Now</div>
            <div class="content">Vegas Magazine I September 2021</div>
            <button class="press-btn">Read article</button>
        </div>
    </div>
    <div class="flex-box1">
        <div class="press-1">
            <div class="heading"> Golf Real Estate Roars Back as Vacation <br> Homes Boom in Pandemic</div>
            <div class="content">Bloomberg I September 2021</div>
            <button class="press-btn">Read article</button>
        </div>
        <div class="press-1">
            <div class="heading"> Brexit drives British millionaires to<br> Portugal for tax and EU perks — but<br> it’s about to get complicated</div>
            <div class="content">Telegraph UK | August 20, 2021</div>
            <button class="press-btn">Read article</button>
        </div>
    </div>
</div>
<div style="margin-top: -650px;">
    <app-footer></app-footer>
</div>