.press-container{
    height: 100vh;
    width: 100vw;
}

.text1 {
    width: 70%;
    margin-left: 20%;
    color: #FFFFFF;
    font-size: 57px;
    position: absolute;
    font-family: none;
    top: 43%;
  
}

.text2{
    margin-left: 132px;
    margin-top: -798px;
    color: #FFFFFFA6;
    font-size: 16px;
    position: absolute;
}

.press-sec1{
    height: 165vh;
    width: 100vw;
    background-color:#f3f3f3;
    margin-top: -695px;
}

.press-text{
    color: black;
    position: absolute;
    margin-top: 70px;
    margin-left: 150px;
    font-size: 35px;
    font-family: auto;
}

.white-card{
    height: 593px;
    width: 422px;
    background-color:#fff;
    position: relative;
    padding: 3rem;
    z-index: 2;
    left: 56%;
    margin-top: -745px;
}

.card-text1{
    opacity: 70%;
}

.card-heading{
    font-size: 34px;
    margin-top: 20px;
    font-family: initial;
    opacity: 90%;
   
}

.card-content{
    font-size: 15px;
    margin-top: 25px;
    line-height: 2.3;
    opacity: 60%;
}

.press-btn{
    background-color: white;
    border: 1px solid black ;
    color: black;
    padding: 20px 50px ;
    text-align: center;
    font-size: 13px;
    margin: 4px 2px;
    opacity: 0.5;
    margin-top: 55px;

}

.press-sec2{
    height: 135vh;
    width: 100vw;
  }

  .press-title{
    font-size: 40px;
    margin-top: 80px;
    margin-left: 140px;
    font-family: initial;
  }


 .flex-box1 {
    display: flex;
    margin-top: 60px;
  }
  
  .press-1{
      margin-left: 140px;
  }

  .heading{
    font-size: 30px;
    font-weight: 1;
    opacity: 50%;
    font-family: system-ui;
  }

  .content{
    font-size: 18px;
    margin-top: 25px;
  }
  

