.press-container{
    height: 100vh;
    width: 100vw;
}

.text1 {
    width: 70%;
    margin-left: 20%;
    color: #FFFFFF;
    font-size: 57px;
    position: absolute;
    font-family: none;
    top: 43%;
  
}

.text2{
    margin-left: 132px;
    margin-top: -798px;
    color: #FFFFFFA6;
    font-size: 16px;
    position: absolute;
}

.press-sec1{
    height: 200vh;
    width: 100vw;
    background-color:white ;
    margin-top: -695px;
}

.press-text{
    color: black;
    position: absolute;
    margin-top: 92px;
    margin-left: 150px;
    font-size: 40px;
}